* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  color: rgb(175, 175, 175);
  background: rgb(52, 52, 52);
}

.container{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: gray;
  width: 80%;
  height: 500px;
  margin-top: 30px;
}

img {
  position: fixed;
  overflow: hidden;
  width: 300px;
  top: 80px;
  opacity: 0.2;
}

.quoteBox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;
  height: 500px;
  margin-top: 30px;
  padding: 30px;
}

.quote-text, .quote-author, p {
  color: rgb(218, 218, 218);
  padding: 0px 50px;
}

#button {
  position: fixed;
  color: rgb(218, 218, 218);
  background: rgb(167, 105, 105);

  bottom: 30px;
  padding: 20px;
  border: none;
}