* {
  box-sizing: border-box;
}

body {
  background: slategray;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

input:hover {
  cursor: auto;
}
